.button-group{
    display:block;
    padding:0 0 10px 0px;
}

.button-group button{
    float: left;
    background-color: steelblue;
    border: 2px solid aliceblue;
    color:aliceblue;
    margin-right: auto;
    margin-left: 0px;
}
.companies{
    padding: 10px 20px 20px 10px;
    
    border-radius: 5%;
}

li, i{
    padding: 5px;
    margin: 5px;
    border: 2px aliceblue solid;
    display: block;
    background-color: steelblue;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

i{
    font-weight: normal;
    margin-left: auto;
    margin-top: 20px;
}
p{
    display:block;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: steelblue;
  color: aliceblue;
}

.scroll-container {
    max-height: 400px; /* Set a maximum height for scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
